.show-header{
  padding: 10px;
}

.show-img{
  border-radius: 8px;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.show-card-body{
  padding-top: 48px;
  padding-bottom: 24px;
  border-bottom:solid thin  #DD58D6;
  padding-left: 24px;
  padding-right: 24px;
  text-align: justify;
}
.show-card-body li{
  margin-bottom: 4px;
}
.undertitle-info{
  display: flex;
}
.undertitle-info-item{
  margin-right: 16px;
  padding-right: 16px;
  border-right:solid thin  #DD58D6;
}
.show-card-booking{
  padding-top: 48px;
  padding-bottom: 24px;
  border-bottom:solid thin  #DD58D6;
  padding-left: 24px;
  padding-right: 24px;

}

.card-booking{
  padding: 16px 64px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #FDF1E6;
}
.section-infos{
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  border: solid thin #7DACB3;
  padding: 8px 16px;
  margin-bottom: 8px;
  text-transform:uppercase;
}
.section-infos h4{
  margin-bottom: 0;
}

.card-review{
  margin-top: 20px;
}
