// Specific CSS for your home-page

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
}

.card-body {
  background: #F5F5F5;
 }

 .card {
  margin-right: 20px;
 }
