// Specific CSS for your home-page
body {
  background-color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  align-items: center;
  display: block;
  align-items: flex-end;
 }

 .card {
  margin-right: 20px;
  background: #ffffff;
  margin-bottom: 30px;

 }
 .card-bottom{
  vertical-align: bottom;
  align-items: flex-end;
 }
 a{
    text-decoration: none;
    color: rgb(58, 58, 58);
 }
i{
  color: #DD58D6;
  margin-right: 8px;
}
.card-link{
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}
