<h1>Booking Confirmed!</h1>
<p>Your booking has been successfully created.</p>

<button type="button" class="btn btn-dark">
  <li><%= link_to "Going to my account", flat_dashboard_path %></li>
</button>
