.field_with_icon {
  position: relative;
}

.field_with_icon i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.field_with_icon .input_after_icon {
  padding-left: 25px; /* Adjust this value as needed */
}
